<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品添加</title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">



<link rel="stylesheet" href="/css/basic.css">

<% include   ../public/top.html %>




<div class="container-fluid">
    <div class="row">

        <% include   ../public/left.html %>

        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">商品管理
                </li>
                <li class="active">添加商品
                </li>
            </ol>
            <div class="panel panel-default">

                <div class="panel-heading">
                    增加商品
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/product/doAdd" method="post" enctype="multipart/form-data">
                            <ul>
                                <li>  商品名称: <input type="text" name="goodsname" value="" placeholder="商品名称"/></li>

                                <li>  商品图片: <input type="file" name="picname"/></li>
                                <li>
                                    商品类别：
                                    <select name="typeid" id="">
                                        <option value="" disabled>--请选择--</option>
                                        <% for(let i in  types){%>
                                            <option value="<%= types[i]._id %>"><%= types[i].typename %></option>
                                        <%}%>
                                    </select>
                                </li>
                                <li>  商品数量: <input type="text" name="num" value="" placeholder="商品数量"/></li>
                                <li>  商品单价: <input type="text" name="price" value="" placeholder="商品单价"/></li>
                                <li>  商品描述: <input type="text" name="desc" value="" placeholder="商品m描述"/></li>
                                <li>
                                    商品状态：
                                    <select name="status" id="">
                                        <option value="1">--请选择--</option>
                                        <option value="1">新品</option>
                                        <option value="2">热卖</option>
                                        <option value="3">下架</option>
                                    </select>
                                </li>
                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">添加</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>