<div class="col-sm-2">
    <a href="#" class="list-group-item active">商品管理</a>

    <a href="/product/index" class="list-group-item">
        商品列表</a>
    <a href="/product/add" class="list-group-item">
        增加商品</a>

    <a href="#" class="list-group-item active">分类管理</a>

    <a href="/type/index" class="list-group-item">
        分类列表</a>
    <a href="/type/add" class="list-group-item">
        增加分类</a>

    <a href="#" class="list-group-item active">状态管理</a>

    <a href="/cart/index" class="list-group-item">
        购物车列表</a>
    <a href="/order/index" class="list-group-item"> 订单列表</a>

</div>